<div class="modal-header bg-info text-white">
    <h4 class="modal-title" id="modal-basic-title">{{ isType ? 'Edit' : 'Add' }} Quick Note</h4>
    <span class="close pointer" aria-label="Close" (click)="close(false)">
        <span aria-hidden="true">&times;</span>
    </span>
</div>
<form novalidate autocomplete="off" #quickNoteForm="ngForm"
    [class.was-validated]="quickNoteForm.invalid && quickNoteForm.submitted">
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-12">
                <label class="required">Title</label>
                <input class="form-control" type="text" placeholder="Title" name="title" [(ngModel)]="quicknote.title"
                    required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="required">Description</label>
                <textarea class="form-control" type="text" rows="3" placeholder="Description" name="desc"
                    [(ngModel)]="quicknote.content" required>
                </textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" (click)="save(quickNoteForm)">
            {{ isType ? 'Update' : 'Save' }}
        </button>
        <button class="btn btn-danger" type="button" (click)="close(false)">
            Close
        </button>
    </div>
</form>